name: Test & Release

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory:
          - "."
          - "bootstrap"
          - "examples/full"
          - "test/create-application"
          - "test/create-resource"
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        
      - name: Lint Example
        uses: "infinite-automations/tflint-all-in-one@3dbb8f4d2845ac35a025a6f15ef9d3b2da1a6535" # v1.0.1
        with:
          directory: ${{ matrix.directory }}

  update-docs:
    name: Update Docs
    needs:
      - lint
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}-docs
      cancel-in-progress: false
    outputs:
      changed: ${{ steps.terraform-docs.outputs.num_changed > 0 }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        if: ${{ github.event_name == 'push' }}
        
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        if: ${{ github.event_name == 'pull_request' }}
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          
      - name: Render terraform docs inside the README.md
        id: terraform-docs
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
        with:
          working-dir: .,bootstrap,examples/full,test/create-application,test/create-resource
          output-file: README.md
          output-method: inject
          git-push: ${{ github.event_name == 'pull_request' }}
          git-commit-message: "docs(terraform): update README.md"
          
      - name: Cache Docs
        if: ${{ github.event_name == 'push' }}
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: |
            README.md
            bootstrap/README.md
            examples/full/README.md
            test/create-application/README.md
            test/create-resource/README.md
          key: ${{ runner.os }}-docs-${{ github.sha }}

  test:
    name: Test
    needs:
      - lint
      - update-docs
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}-test
      cancel-in-progress: true
    environment:
      name: ${{ github.event_name == 'pull_request' && 'pr' || 'main' }}
    env:
      ARM_USE_OIDC: true
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        
      - name: Get Branch Slug
        uses: gacts/github-slug@91cb78e803e07ccf88570afeddeabaad93c8f4cb # v1
        id: slug
        
      - name: Create Azure Application For OIDC
        uses: infinite-automations/terraform-all-in-one@bf7348a1b77f91a1bc868e69c62bc840e1a362db # v1.2.0
        id: apply-example
        with:
          init-args: >-
            -backend-config='resource_group_name=${{ vars.BACKEND_RESOURCE_GROUP }}'
            -backend-config='storage_account_name=${{ vars.BACKEND_STORAGE_ACCOUNT }}'
            -backend-config='container_name=${{ vars.BACKEND_CONTAINER_NAME }}'
            -backend-config='key=terraform-azuread-github-oidc/test/create-application/${{ steps.slug.outputs.branch-name-slug }}.tfstate'
          directory: "test/create-application"
          apply: true
          destroy: false
        env:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          TF_VAR_azure_application_name: "terraform-azuread-github-oidc-${{ steps.slug.outputs.branch-name-slug }}-test"
          
      - name: Get Client ID
        id: client-id
        run: |
          client_id=$(echo ${{ steps.apply-example.outputs.output-json }} | jq -r '.client_id.value')
          echo client-id="${client_id}" >> "$GITHUB_OUTPUT"
          
      - name: Test Azure Application For OIDC
        uses: infinite-automations/terraform-all-in-one@bf7348a1b77f91a1bc868e69c62bc840e1a362db # v1.2.0
        with:
          init-args: >-
            -backend-config='resource_group_name=${{ vars.BACKEND_RESOURCE_GROUP }}'
            -backend-config='storage_account_name=${{ vars.BACKEND_STORAGE_ACCOUNT }}'
            -backend-config='container_name=${{ vars.BACKEND_CONTAINER_NAME }}'
            -backend-config='key=terraform-azuread-github-oidc/test/create-resource/${{ steps.slug.outputs.branch-name-slug }}.tfstate'
          directory: "test/create-resource"
          apply: true
          destroy: true
        env:
          ARM_CLIENT_ID: ${{ steps.client-id.outputs.client-id }}
          TF_VAR_resource_group_name: "rg-${{ steps.slug.outputs.branch-name-slug }}-test"
          
      - name: Destroy Azure Application For OIDC
        uses: infinite-automations/terraform-all-in-one@bf7348a1b77f91a1bc868e69c62bc840e1a362db # v1.2.0
        with:
          directory: "test/create-application"
          setup: false
          init: false
          format: false
          validate: false
          plan: false
          apply: false
          destroy: true
        env:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          TF_VAR_azure_application_name: "terraform-azuread-github-oidc-${{ steps.slug.outputs.branch-name-slug }}-test"

  release:
    name: Release
    needs:
      - update-docs
      - test
    concurrency:
      group: ${{ github.ref }}-release
      cancel-in-progress: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
        
      - name: Restore Cached Docs
        if: ${{ github.event_name == 'push' }}
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: README.md
          key: ${{ runner.os }}-docs-${{ github.sha }}

      - name: Get GitHub App Token
        id: get_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID_SEMREL }}
          private-key: ${{ secrets.APP_KEY_SEMREL }}
          
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            conventional-changelog-conventionalcommits
          dry_run: ${{ github.event_name == 'pull_request' }}
          ci: true
        env:
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}
